# **AICP EDA Internship 3.0 Task Week 2**

Q.1: **Pandas Series Without Using Dictionary**

In [4]:
import pandas as pd

# Define the values and the corresponding index
values = [1, 4, 9, 6, 7]
index = ['a', 'x', 'c', '2', 'e']

# Create the Series without using a dictionary
series = pd.Series(values, index=index)
print(series)

a    1
x    4
c    9
2    6
e    7
dtype: int64

Q.2: **Pandas Series Using Dictionary**

In [6]:
import pandas as pd

# Creating a Series using a dictionary
names_scores = {"Bilal": 42, "Ayesha": 38, "Hadia": 39}
series_dict = pd.Series(names_scores)
print(series_dict)

Bilal     42
Ayesha    38
Hadia     39
dtype: int64

Q.3: **DataFrame Using Python Dictionary**

In [7]:
# Creating a DataFrame using a dictionary
weather_data = {
    "day": ["1/1/2017", "1/2/2017", "1/3/2017", "1/4/2017", "1/5/2017", "1/6/2017"],
    "temperature": [32, 35, 28, 24, 32, 31],
    "windspeed": [6, 7, 2, 7, 4, 2],
    "event": ["Rain", "Sunny", "Snow", "Snow", "Rain", "Sunny"]
}
df_weather = pd.DataFrame(weather_data)
print(df_weather)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

Q.4: **In extension to above question, you are required to replace index by ['a','b','c','d','e','f']**

In [8]:
# Replacing index in the DataFrame from Q.3
df_weather.index = ['a', 'b', 'c', 'd', 'e', 'f']
print("\nUpdated DataFrame with new index:\n", df_weather)

Updated DataFrame with new index:
         day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

Q.5: **In extension to above Q.3, calculate mean, miximum and minimum for label “temperature”**

In [9]:
# Calculating mean, max, and min for 'temperature' column in the DataFrame
mean_temperature = df_weather['temperature'].mean()
max_temperature = df_weather['temperature'].max()
min_temperature = df_weather['temperature'].min()

print("\nTemperature statistics:")
print(f"Mean: {mean_temperature}")
print(f"Maximum: {max_temperature}")
print(f"Minimum: {min_temperature}")

Temperature statistics:
Mean: 30.333333333333332
Maximum: 35
Minimum: 24

Q.6: **Import CSV ‘people.csv’ in the given folder. Keep in mind the following instructions:
You’re required to import only specific columns ["First Name", "Sex", "Email", “Phone”, “Job Title”]
Set the following columns ["Sex", "Job Title"] as index columns
Skip following rows [1,5]
Export the CSV as “NewPeople.csv”**

In [15]:
import pandas as pd

# Importing 'people.csv' with specified columns and skipping row 15
people_df = pd.read_csv('people.csv', usecols=["First Name", "Sex", "Email", "Phone", "Job Title"], skiprows=[15])

# Setting ["Sex", "Job Title"] as index columns
people_df.set_index(["Sex", "Job Title"], inplace=True)

# Exporting the modified DataFrame to 'NewPeople.csv'
people_df.to_csv('NewPeople.csv')

Q.7: **Import excel sheet ‘SampleWork.xlsx’ in the given folder. Keep in mind the following instructions:
Import sheet 1
Import only first and last column from sheet 1
Skip row 2 while importing the sheet
Set row 2 as header
export as new sheet.**

In [17]:
# Q.7: Import Excel 'SampleWork.xlsx'
# Defining the path to the file
sample_work_xlsx_path = '/content/SampleWork.xlsx'

# Reading the Excel file with specific instructions
sample_work_df = pd.read_excel(sample_work_xlsx_path, skiprows=1)  # Skipping the first row (header is set to row 2)
sample_work_df = sample_work_df.iloc[:, [0, -1]]  # Selecting only the first and last columns
new_sample_work_xlsx_path = '/content/SampleWork.xlsx'
sample_work_df.to_excel(new_sample_work_xlsx_path, index=False)

Q.8: **Create the following dataframe as AICP_DF then implement different operations as described below:
select 'Name', 'Qualification' coloumns and save to df1
add a new column to AICP_DF “Height” with the following values: [5.1, 6.2, 5.1, 5.2,5.1]
set column “Name” as the index column.
retrieve row with index “Hifza”
retrieve row with index 3
drop row with index “Bilal”**

In [23]:
import pandas as pd

# Create the dataframe as specified
AICP_DF = pd.DataFrame({
    'Name': ['Sonia', 'Bilal', 'Hifza', 'Kabir', 'jazim'],
    'Age': [27, 24, 22, 32, 23],
    'Address': ['Lahore', 'Karachi', 'Sialkot', 'Peshawar', 'lhr'],
    'Qualification': ['Msc', 'MA', 'MCA', 'Phd', 'bsc']
})

# Select 'Name', 'Qualification' columns and save to df1
df1 = AICP_DF[['Name', 'Qualification']].copy()

# Add a new column to AICP_DF 'Height' with the following values: [5.1, 6.2, 5.1, 5.2, 5.1]
AICP_DF['Height'] = [5.1, 6.2, 5.1, 5.2, 5.1]

# Set column “Name” as the index column.
AICP_DF.set_index('Name', inplace=True)

# Retrieve row with index “Hifza”
row_hifza = AICP_DF.loc['Hifza']

# Retrieve row with index 3
row_index_3 = AICP_DF.iloc[3]

# Drop row with index “Bilal”
AICP_DF_dropped = AICP_DF.drop('Bilal')

# Return the requested data as a dictionary
{
    'df1': df1,
    'row_hifza': row_hifza,
    'row_index_3': row_index_3,
    'AICP_DF_dropped': AICP_DF_dropped,
    'df1_file_path': '/mnt/data/df1.csv'
}

{'df1':     Name Qualification
 0  Sonia           Msc
 1  Bilal            MA
 2  Hifza           MCA
 3  Kabir           Phd
 4  jazim           bsc,
 'row_hifza': Age                   22
 Address          Sialkot
 Qualification        MCA
 Height               5.1
 Name: Hifza, dtype: object,
 'row_index_3': Age                    32
 Address          Peshawar
 Qualification         Phd
 Height                5.2
 Name: Kabir, dtype: object,
 'AICP_DF_dropped':        Age   Address Qualification  Height
 Name
 Sonia   27    Lahore           Msc     5.1
 Hifza   22   Sialkot           MCA     5.1
 Kabir   32  Peshawar           Phd     5.2
 jazim   23       lhr           bsc     5.1,
 'df1_file_path': '/mnt/data/df1.csv'}